n8n/workflows/01_followup_scheduler.json
{
  "name": "AI SDR — Follow-up Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekdays 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/prospects/?status=sent",
        "options": {}
      },
      "id": "get-sent-prospects",
      "name": "Get Sent Prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nconst DAY = 86400000;\nreturn $input.all().flatMap(item => {\n  const prospects = Array.isArray(item.json) ? item.json : [item.json];\n  return prospects.filter(p => {\n    if (!p.sent_at) return false;\n    const sentAt = new Date(p.sent_at).getTime();\n    const daysSince = (now - sentAt) / DAY;\n    if (p.followups_sent === 0 && daysSince >= 3) return true;\n    if (p.followups_sent === 1 && daysSince >= 7) return true;\n    return false;\n  }).map(p => ({ json: p }));\n});"
      },
      "id": "filter-due",
      "name": "Filter Due Follow-ups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/prospects/{{ $json.id }}/send-followup",
        "method": "POST",
        "options": {}
      },
      "id": "send-followup",
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Weekdays 9am": {
      "main": [[{ "node": "Get Sent Prospects", "type": "main", "index": 0 }]]
    },
    "Get Sent Prospects": {
      "main": [[{ "node": "Filter Due Follow-ups", "type": "main", "index": 0 }]]
    },
    "Filter Due Follow-ups": {
      "main": [[{ "node": "Send Follow-up", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
