n8n/workflows/01_followup_scheduler.json
{
  "name": "AI SDR — Follow-up Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekdays 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/prospects/trigger-followups",
        "method": "POST",
        "options": {}
      },
      "id": "trigger-followups",
      "name": "Trigger Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst triggered = result.triggered ?? 0;\nif (triggered === 0) return [];\nreturn [{ json: { summary: `Sent ${triggered} follow-up(s)`, details: result.details } }];"
      },
      "id": "summarize",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "text", "value": "={{ $json.summary }}" }]
        },
        "options": {}
      },
      "id": "notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Weekdays 9am": {
      "main": [[{ "node": "Trigger Follow-ups", "type": "main", "index": 0 }]]
    },
    "Trigger Follow-ups": {
      "main": [[{ "node": "Summarize Results", "type": "main", "index": 0 }]]
    },
    "Summarize Results": {
      "main": [[{ "node": "Slack Notification", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
