n8n/workflows/02_reply_poller.json
{
  "name": "AI SDR — Reply Poller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/replies/inbox",
        "options": {}
      },
      "id": "poll-inbox",
      "name": "Poll Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nif (!Array.isArray(items) || items.length === 0) return [];\nreturn items\n  .filter(r => r.category === 'interested')\n  .map(r => ({ json: r }));"
      },
      "id": "filter-interested",
      "name": "Filter Interested Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "text", "value": "=:fire: *Hot reply from {{ $json.prospect_name }}!*\n\n{{ $json.prospect_name }} ({{ $json.from_email }}) is interested.\nSuggested action: {{ $json.suggested_action }}\n\n_{{ $json.body_snippet }}_" }]
        },
        "options": {}
      },
      "id": "notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Poll Inbox", "type": "main", "index": 0 }]]
    },
    "Poll Inbox": {
      "main": [[{ "node": "Filter Interested Replies", "type": "main", "index": 0 }]]
    },
    "Filter Interested Replies": {
      "main": [[{ "node": "Slack Notification", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
